<%- include("partials/header") -%>
<h1>Home</h1>
<p>Hi there, welcome to the blog website where in you can share anything with everyone while staying anonymous.</p>
<p>Simply visit <a href="https://blog-app-to22.onrender.com/compose">https://blog-app-to22.onrender.com/compose</a> to compose.</p>
<p>To delete your post, please mail vasistarishi@gmail.com with your post title</p>
<% posts.forEach((post)=> {%>
    <% let post_content = post.post_content%>
    <h2><%= post.post_title%></h2>
    <p> <%= post.post_content.slice(0, 100)%>.... <a href="/posts/<%= post._id %>">Read More</a></p>
<% }) %>

<%- include("partials/footer") -%>